@import './variables';
@import './products';
@import './dashboard';
@import './icons';

@font-face {
    font-family: 'Ojuju';
    src: url('../fonts/Ojuju/Ojuju-VariableFont_wght.ttf');
    font-display: swap;
}